<br />
<br />

<div class="container row">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">Uh Oh! Something happened while you were placing your order. Try again.
        </h2>
        <br /><br />
    </div>
    <h3 class="col-12 text-center">
        <br />
        Report any issues to us on the Contact Us page <br />
    </h3>
</div>