<br />
<br />

<div class="container row">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center" style="color: #AEB5BC;">Your order has been placed. Enjoy the Show!</h2>
        <br /><br />
    </div>
    <h3 class="col-12 text-center" style="color: #AEB5BC;">
        <br />
        Thank you for using Symphonic Sounds. Come back again for your concert ticket needs! <br />
    </h3>
</div>